*{
    font-family: 'Roboto', sans-serif;
  }
body {
    background-color: rgb(223, 255, 237);
}
p{
    font-size: larger;
    background-color: azure;
    text-align: justify;
    word-spacing: normal;
    line-break: normal;
    line-height: 150%;
}
button{
    background-color:rgb(174, 122, 223) ;
    margin-top: 3%;
    margin-left: 80% ;
    padding: 1%;
    border-radius: 20px;
  }
  button:hover{
    cursor: pointer;
    background-color: azure;
  }